body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("https://media.istockphoto.com/id/1366670826/photo/play-card-icon-traditional-embroidery-play-card-symbols-poker-chip-dices-and-ace-with-golden.jpg?b=1&s=170667a&w=0&k=20&c=PXDskW7tUb4AQjqKZ484PTCZ13b9eMka-LO-3YsGmTA=");
    background-size: 100%;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  